body {
    background-image: url("sky.jpg");
}

h1{
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align:center;
}

h2{
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h3{
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

textarea{
    resize: none;
}

#game{
    display: none;
}

#answer{   
    display: none;
}

p{
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
